@define-color bg #fafafa;
@define-color fg #090a0b;
@define-color gray1 #50a14f;
@define-color gray2 #e5e5e6;
@define-color gray3 #4078f2;
@define-color gray4 #c18401;
@define-color gray5 #a626a4;
@define-color fg_bright #090a0b;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}